.container{
  font-family: sans-serif;
  padding: 0 70px;
  width: 90%;
}

.container-card{
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
}

.container-main{
  display: flex;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}